body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #5856D6;
    color: #f3f3f3;
    padding: 32px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header h1 {
    font-size: 64px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    letter-spacing: -1.2px;
}

header h2 {
    font-size: 16px;
    font-weight: 400;
    padding-left: 8px;
    margin-top: 0;
}

header .authors {
    padding-top: 32px;
    padding-left: 8px;
}

main {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
}

main .left-column, main .right-column {
    flex: 1 1 calc(50% - 23px);
    box-sizing: border-box;
}

main .left-column .box {
    margin-bottom: 37px;
}

main .right-column .box {
    margin-top: 0;
}

main .box {
    background-color: #BCBCE4;
    border: none;
    padding: 32px;
    box-sizing: border-box;
    margin:0;
    border-radius: 15px;
}

main .box h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

main .box p {
    font-size: 16px;
    margin-top: 8px;
    font-weight: 400;
}

main .box iframe {
    background-color: #ffffff;
    padding: 16px;
    box-sizing: border-box;
    margin-top: 48px;
}

@media (max-width: 1400px) {
    main {
        gap: 0;
    }
    main .left-column, main .right-column {
        flex: 1 1 100%;
    }
    main .left-column .box {
        margin-bottom: 37px;
    }
    main .right-column .box {
        margin-top: 46px;
    }
}
